{% extends "base.html" %}

{% block title %}add_players{% endblock %}

{% block content %}
<h1>Enter the names of the players</h1>

<form action="/add_players" method="POST">

    <div class="form-group">
        <label for="exampleFormControlInput">Name</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput" placeholder="Enter name here">
    </div>

    <div>
        <button type="submit" name="add" value="add" class="btn btn-primary">ADD</button>
        <button type="submit" name="next" value="next"  class="btn btn-success">NEXT</button>
    </div>

</form>

{% endblock %}