body {
    background-image: url('../images/bg.jpg');
    color: white;
}

h1 {
    color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}

h2 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h3 {
    padding-left: 30px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: lightgray;
    padding-left: 30px;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-check {
    padding: 20px;
}

.btn-light {
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

