body {
    background-image: url('../images/bg.jpg');
    color: white;
}

h1 {
    color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}

h2 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    padding-left: 30px;
    color: gray
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: lightgray;
    padding-left: 30px;
}

form {
    padding-left: 30px;
    padding-bottom: 20px;
}

btn-primary {
    padding-top: 20px;
}

